body {
    text-align: center;
}

h2, h3, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.box {
    display: inline-block;
    background-color: #2b70c0;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    box-shadow: 0 5px 8px;
}

.text {
    display: block;
    border: transparent;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;

    width: 300px;
    height: 25px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;

    box-shadow: 0 1px 2px;
}

.text:focus {
    outline-width: 0;
}

[type = "button"] {
    border: transparent;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 5px;

    min-width: 100px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #272727;
}

[type = "button"]:hover {
    background-color: #004974;
}

[type = "button"]:enabled {
    outline-width: 0;
}

.error {
    font-size: 16px;

    color: #ffe600;
}